/node_modules/
*.sqlite
/prettify
/db.sqlite-journal
secrets.js
CHANGELOG.md
bot.js
/save2local
test-decode-me.js
.DS_Store
mortal-coil-solver.html
/.vscode
/public/quiz/quiz-data-de.cjs
public/chals/where_the_hack/test_highres.jpg
public/chals/where_the_hack/test.jpg
public/chals/where_the_hack/test2.jpg
