public/**/*.js

!public/worms/worms.js
!public/worms/wormer.js
!public/comlink/*.js
!public/chals/21/script.js
!public/chals/21/styles.css
!public/chals/chal110.js
!public/chals/chal51_2.js
!public/chals/chal31.js
!public/htw.js
!public/quiz-data.js

src/**/*.ejs

!src/server/views/pages/wwwm.ejs
!src/server/views/pages/music.ejs
!src/content/views/*.ejs
!src/content/story-scenes/*.ejs
!src/content/hacker-quiz/*.ejs