<style></style>

<div>Hier kommt der Thema-Spinner hin.</div>

<div>Hier kommt der Start-Button hin</div>

<div>Hier kommt die Highscore hin</div>

<script>
  // hacking related questions, options are only words / very short, correct answer is always first
  const topics = [
    {
      topic: 'Netzwerk',
      questions: [
        {
          question: 'Welches Protokoll wird verwendet, um Webseiten zu laden?',
          options: ['HTTP', 'FTP', 'SMTP', 'DNS'],
        },
        {
          question:
            'Welches Gerät verbindet verschiedene Netzwerke miteinander?',
          options: ['Router', 'Switch', 'Modem', 'Firewall'],
        },
        {
          question: 'Welche IP-Version ist die aktuellste?',
          options: ['IPv6', 'IPv4', 'IPX', 'IPV2'],
        },
      ],
    },
    {
      topic: 'Passwörter',
      questions: [
        {
          question: 'Was bedeutet MFA? ',
          options: [
            'Multi-Faktor-Authentifizierung',
            'Mein-Foto-Album',
            'Mail-Forwarding-Account',
            'Mehrfach-File-Archiv',
          ],
        },
        {
          question: 'Welche Methode ist am sichersten? ',
          options: ['Passphrase', 'Name+Geburtstag', '123456', 'Passwort'],
        },
        {
          question: 'Was ist ein Passwort-Manager? ',
          options: [
            'Tool zum Speichern/Generieren',
            'Browser-Cache',
            'VPN',
            'Firewall',
          ],
        },
      ],
    },
    {
      topic: 'Web-Sicherheit',
      questions: [
        {
          question: 'Welche Schwachstelle betrifft ungefilterte Eingaben? ',
          options: ['XSS', 'DDoS', 'DNS', 'NTP'],
        },
        {
          question: 'Wofür steht CSRF? ',
          options: [
            'Cross-Site Request Forgery',
            'Client-Side Render Flow',
            'Cookie Session Reset Flag',
            'Cache State Refresh Function',
          ],
        },
        {
          question: 'Welches Flag schützt Cookies vor JS-Zugriff? ',
          options: ['HttpOnly', 'Readable', 'Public', 'Inline'],
        },
      ],
    },
  ]
</script>
