<p style="margin-top: 24px; margin-bottom:48px;"><a href="/map"><%= t('challenge.back') %></a></p>

<div style="max-width: 65ch;">
  <p><em><strong>Kiwi:</strong> Diese Sammlung an Notizen habe ich aus dem Archiv gerettet. Jemand wollte sie wegwerfen, weil sie nicht wirklich wertvoll ausssehen. Aber ich finde diese Person sympathisch. Eine solche Art von Widerstand ist zeitlos.</em></p>

  <h3 style="margin-top: 128px;">Eintrag 1</h3>

  <p>Es ist mein Computer und dieser Computer gehört mir. Wenn ich diesen Computer nutze, dann darf ich darüber entscheiden, welche Inhalte ich sehen möchte und welche nicht. Punkt. Dieses Recht gehört mir. Daher nutze ich Youtube mit Firefox und uBlock Origin. Diese Kombo funktioniert seit mehreren Jahren zuverlässig und ich bin befreit von Werbung. Die Tragödie mit dem Manifest 3 kann ich mir dagegen nicht geben ... mein Beileid (nicht) an alle Chrome-Nutzer.</p>

  <h3 style="margin-top: 128px;">Eintrag 2</h3>

  <p>Kurzvideos tun mir nicht gut. Jeder mag das für sich entscheiden, aber ohne mein kritisches Denken bin ich komplett wehrlos. Deshalb nutze ich Youtube auch nur noch mit Unhook, einer Erweiterung, die alle Shorts und Empfehlungen (und wenn ich will auch Kommentare) ausblendet. Meine Aufmerksamkeit ist wertvoll und die gebe ich nicht für so eine scheiße her. Ich bin nicht komplett gegen social media. Aber es ist mir wichtig, diese Medien unter meinen Bedingungen nutzen zu können.</p>

  <h3 style="margin-top: 128px;">Eintrag 3</h3>

  <p>Es gibt Musikstücke, die mir viel bedeuten. Und sie nur streamen zu können und nicht zu <em>besitzen</em> fühlt sich komisch an - denn der Anbieter könnte mir den Zugang jederzeit wieder nehmen! Oder die Preise erhöhen. Das war für mich der Punkt, an dem ich das Streaming aufgegeben habe und zurück zur mp3-Sammlung gegangen bin. Ja, es kostet mehr Mühe und ist mehr Arbeit. Aber den Luxus einer lokalen Musiksammlung, den leiste ich mir. Ich habe lange Zeit nicht mehr die Segel gehisst. <span style="font-size: 9px; color: gray;">(Hinweis im Quellcode)</span></p>

  <!-- 2025-09-21: spotidownloader.com, deezmate.com NUTZUNG AUF EIGENE GEFAHR, DIESER KOMMENTAR ZERSTÖRT SICH IN 10 SEKUNDEN VON SELBST (just kidding) -->

  <h3 style="margin-top: 128px;">Eintrag 4</h3>

  <p><a href="https://gchq.github.io/CyberChef/" target="_blank">https://gchq.github.io/CyberChef/</a></p>

  <p style="word-break: break-all;">SGFzdCBkdSBkaWNoIGplbWFscyBnZWZyYWd0LCB3YXMgZGllc2Ugd2l0emlnIGF1c3NlaGVuZGVuIFplaWNoZW4gYmVkZXV0ZW4/IEljaCBzY2hhdWUgZGEgZ2VybmUgaW1tZXIgd2llZGVyIHJlaW4u</p>

  <div style="height: 300px;"></div>

</div>