<p><a href="/map">zurück</a></p>

<div style="max-width: 65ch; margin: 0 auto">
  <!-- pre-game stuff -->
  <div style="display: flex; justify-content: center; margin-bottom: 20px">
    <img src="/wwwm/logo.png" style="width: 100%; max-width: 400px" />
  </div>

  <div>
    <p>
      Bei diesem Spiel dreht sich alles um die deutsche Sprache! Finde zu
      gegebenen drei Buchstaben ein passendes Wort, z.B. für den Hinweis TRA
      passen die Antworten Straße, tragen, Mantra ... jedes Wort, das in
      Deutschland irgendwie verwendet wird.
    </p>
    <p>Schaffst du es in 15 Fragen zum Wort-Millionär?</p>
    <button
      class="btn btn-success"
      style="display: block; margin: 0 auto; width: 200px"
    >
      Start!
    </button>
  </div>
</div>

<div style="height: 300px"></div>
