.calculator__keys > button {
  border: 0;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(255, 255, 255, 0.15);
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: '';
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

.error {
  animation: errorFlash 0.5s;
}

@keyframes errorFlash {
  0% {
    background-color: #ff4d4d;
  }
  100% {
    background-color: #fff;
  }
}

.progress__bar {
  height: 5px;
  width: 0%;
  transition: width 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.blink {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  0%,
  100% {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
