<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>Hallo, mein Name ist Bex.</p>

    <p>
      Du bist also die Person, die zusammen mit uns nach Sirtach reist? Kiwi hat
      dir schon vom Hacking erzählt? Oh man. Ich bereue es fast, ihr davon
      erzählt zu haben.
    </p>

    <p>
      Weißt du, ich bin von der Erde. Komplizierte Geschichte, vor einem halben
      Jahr bin ich hier in Naxion gelandet. Schrecklicher Ort. Sirtach kann nur
      besser werden. Ich hoffe auf eine bessere Zukunft.
    </p>

    <p>
      Naja, hast du Spaß mit Hacking? Kiwi ist ja nicht zu bremsen ... und es
      ist eine schöne Art, ein bisschen mit der Erde in Kontakt zu kommen.
    </p>
  </div>
  <form action="/story/1/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
