<div class="scene-root">
  <div class="scene-content">
    <p style="display: flex; justify-content: center; margin-bottom: 32px">
      <img src="/story/bex.png" />
    </p>

    <p>
      Puh, geschafft. Das Raumschiff ist voll das Labyrinth. Ach hi! Du bist
      <strong><%= username %></strong>? Ich bin Bex. Ähm, wegen meinen Pronomen:
      Am liebsten bin ich einfach nur Bex. Wenn es nicht anders geht, ist
      sie/ihr auch ok.
    </p>

    <p>
      Nette Kajüte hier. Klein, aber fein, sagt man doch. Alles ist besser als
      Naxion. Das halbe Jahr dort werde ich nicht vermissen. Schon gar nicht die
      Witze und blöden Kommentare auf dem Schulhof. Wie können die Menschen nur
      so unreif sein!? Sollen die Leute nur lachen. Ich kann hacken, und du ja
      bald auch 😋
    </p>

    <p>
      Am liebsten würde ich wieder zur Erde zurückreisen, aber Sirtach ist auch
      in Ordnung - du hörst richtig, ich bin ein richtiger Erdling, lange
      Geschichte und so, kann ich mal wann anders erzählen. Jetzt erst mal
      meinen Pod beziehen und dann das Raumschiff erkunden!
    </p>
  </div>
  <form action="/story/1/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
