<div class="scene-root">
  <div class="scene-content">
    <p style="display: flex; justify-content: center; margin-bottom: 32px">
      <img src="/story/bex.png" />
    </p>

    <p>
      Phew, made it. This spaceship is a maze. Oh hi! Are you
      <strong><%= username %></strong>? I'm Bex. About my pronouns: I prefer
      just Bex. If it can't be avoided, she/her is okay.
    </p>

    <p>
      Nice cabin here. Small but fine, as they say. Anything is better than
      Naxion. I won't miss that half year there—certainly not the jokes and dumb
      comments in the schoolyard. How can people be so immature!? Let them
      laugh. I can hack, and soon you will too 😋
    </p>

    <p>
      I'd love to go back to Earth, but Sirtach is fine too—you're hearing
      right, I'm a real Earthling. Long story I can tell another time. First
      I'll claim my pod and then explore the ship!
    </p>
  </div>
  <form action="/story/1/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>
