<div style="text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p style="display: flex; justify-content: center; margin-bottom: 32px">
      <img src="/story/josh.png" style="width: 300px; border-radius: 200px" />
    </p>

    <p>
      Nenn mich Josh. Ich bin so dankbar, dass Chroma diese Reisegemeinschaften
      organisiert. Es ist doch viel angenehmer, mit anderen Queers und Allies zu
      reisen als alleine.
    </p>

    <p>
      Sirtach ist unsere Hoffnung. Nach dem Regenbogenverbot habe ich Naxion
      aufgegeben. Ich verstehe nicht, warum sich die Regierung vor ein paar
      bunten Flaggen fürchtet. Sie betonen zwar, dass Menschen trotzdem leben
      dürfen, wie sie wollen - aber nehmen uns dann die Flaggen weg? Das lasse
      ich nicht mit mir machen.
    </p>

    <p>
      Schön zu hören, dass du auch mit Kiwi das Hacken lernst. Sie ist wirklich
      gut darin, Menschen zu begeistern. Ich hätte nicht gedacht, dass ich in
      meinem Alter noch so viel Neues lerne.
    </p>

    <p>
      Und hey: Falls es dir zu viel wird, kannst du dich jederzeit in deinen Pod
      zurückziehen und etwas Zeit für dich nehmen. Jeder braucht mal Pausen.
      Haha, jetzt höre ich mal auf zu labern.
    </p>
  </div>
  <form action="/story/2/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
