<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      Hi, ich bin Josh und begleite die beiden auf der Reise nach Sirtach. Kann
      sein, dass ich das Ticket für die beiden bezahlt habe, ups.
    </p>

    <p>
      Vielleicht fühlt sich Kiwi deshalb so verpflichtet, mir neue Sachen
      beizubringen. Ich bin doch alt, was soll das.
    </p>

    <p>
      Wobei, auch in unserer Welt gibt es viele Dinge, die nicht gut laufen.
      Ungerechtigkeit, soziale Ungleichheit, Ausgrenzung - wie überall. Ein paar
      Werkzeuge dagegen zu haben ist vielleicht sogar hilfreich.
    </p>
  </div>
  <form action="/story/2/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
