<div class="scene-root">
  <div class="scene-content">
    <p style="display: flex; justify-content: center; margin-bottom: 32px">
      <img src="/story/josh.png" style="width: 230px; border-radius: 200px" />
    </p>

    <p>
      Call me Josh. I'm so thankful that Chroma organizes these travel
      communities. It's much nicer to travel with other queers and allies than
      alone.
    </p>

    <p>
      Sirtach is our hope. After the rainbow ban I gave up on Naxion. I don't
      understand why the government fears a few colorful flags. They say people
      can still live how they want — then take the flags away? I won't accept
      that.
    </p>

    <p>
      Great to hear you're learning hacking with Kiwi. She's really good at
      getting people excited. I didn't think I'd learn so much new stuff at my
      age.
    </p>

    <p>
      And hey: If it gets too much, you can always retreat to your pod and take
      some time for yourself. Everyone needs breaks. Haha, I'll stop rambling
      now.
    </p>
  </div>
  <form action="/story/2/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>
