<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      Jetzt sind schon 2 Wochen vorbei. Ist doch ziemlich blöd, die ganze Zeit
      nur Rätsel zu lösen. Ich möchte was echtes Hacken. Und da habe ich gerade
      die perfekte Idee.
    </p>

    <p>
      Siehst du, die Lichter des Raumschiffs werden über diesen zentralen
      Computer, wenn jemand fragt, ob es heller oder dunkler sein soll, gehen
      die Mitarbeiter an diesem PC. Am Abend ist hier oft wenig los ... und ich
      habe schon mehrmals gesehen, wie sie vergessen, den Computer zu sperren.
      Wie dumm ist das denn?
    </p>

    <p>
      Haben sie denn keine Ahnung von IT? Wie wäre es, mal ... sagen wir mal mit
      Licht in bunten Farben? Wie sie am ersten Abend für die Feier gemacht
      haben?
    </p>

    <p>
      Das ist doch eine perfekte Möglichkeit, meine neuen Skills anzuwenden.
    </p>
  </div>
  <form action="/story/3/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
