<div class="scene-root">
  <div class="scene-content">
    <p><em>Ein paar Tage später – Bex' Tagebuch</em></p>

    <p style="display: flex; justify-content: center; margin-bottom: 32px">
      <img src="/story/diary.png" style="width: 230px; border-radius: 200px" />
    </p>

    <p>
      Ich hab das jetzt dreimal beobachtet, das kann kein Zufall sein. Jedes
      Mal, wenn die Crew etwas an der Lichtsteuerung in der Mensa ändert, bleibt
      das Terminal für paar Minuten zugänglich. Nice! Sehr spannend. Ich habe da
      meine Ideen.
    </p>

    <p>
      Was soll ich mit dem Licht machen? Ich weiß es. Ich schalte die
      Beleuchtung auf Regenbogenfarben. Das ist ein cooles Zeichen. Kiwi und
      Josh wird es gefallen.
    </p>

    <p>
      Aber nur um sicherzugehen: ich sollte mich nicht sehen und erwischen
      lassen. Da muss ich echt aufpassen und mir am besten eine Ausrede
      zurechtlegen. Und ich möchte noch genauer lernen, wie man das Licht
      steuert. Nächste Woche weiter beobachten. Danach mache ich ernst.
    </p>
  </div>
  <form action="/story/3/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
