<link href="/fonts/mansalva.css" rel="stylesheet" />

<style>
  .mansalva-regular {
    font-family: 'Mansalva', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
</style>

<div class="scene-root">
  <div class="scene-content">
    <p
      style="
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        float: right;
      "
    >
      <img src="/story/diary.png" style="width: 230px; border-radius: 200px" />
    </p>

    <p class="mansalva-regular">Tag 4 auf der Intergalaktika</p>

    <p class="mansalva-regular">
      Nach vier Stück Pizza bin ich richtig satt. Das Buffet ist voll gut, ich
      kann mir gar nicht vorstellen, wie krass das Essen in der ersten Klasse
      sein muss.
    </p>

    <p class="mansalva-regular">
      Am Vormittag hab ich dieser neuen Person paar Hacking-Sachen gezeigt.
      Danach bin ich in den Spielebereich gegangen. Dort ist immer was los und
      ich fühle mich nicht so alleine. Zwei Jungs haben sich an Holo-Schach
      probiert, aber sie hatten keine Ahnung gehabt, wie die Regeln sind.
    </p>

    <p class="mansalva-regular">
      Ich weiß ja nicht. Vielleicht könnte ich es ihnen beibringen? Soll ich zu
      ihnen hin und etwa fragen: "Hey, wir kennen uns nicht, aber ich würde euch
      gerne die Regeln erklären, weil ich es mir nicht anschauen kann, wie ihr
      die Figuren da sinnlos herumbewegt?" 🙈 keine Ahnung, vielleicht mal wann
      anders.
    </p>
  </div>
  <form action="/story/3/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
