<div class="scene-root">
  <div class="scene-content">
    <p><em>A few days later — Bex's diary</em></p>

    <p>
      I've seen it three times now; this can't be a coincidence. Every time the
      crew changes something in the cafeteria lighting, the terminal stays
      accessible for a few minutes. Nice! Very exciting. I've got some ideas.
    </p>

    <p>
      What should I do with the lights? I know. I'll switch the lighting to
      rainbow colors. It's a cool signal. Kiwi and Josh will like it.
    </p>

    <p>
      Just to be safe: I shouldn't be seen and caught. I have to be really
      careful and, best, prepare an excuse. And I want to learn more precisely
      how to control the lights. Observe again next week. Then I'll go for it.
    </p>
  </div>
  <form action="/story/3/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>