<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>Kiwi und Josh treffen sich nach dem Abendessen im Salon.</p>

    <p>Kiwi: Und, gefällt dir das Hacken?</p>
    <p>
      Josh: Ist schon cool. Es strengt mein Gehirn an, es ist nicht ganz leicht,
      aber ich finde mich immer besser zurecht.
    </p>
    <p>
      Kiwi: Ja, manchmal hätte ich Lust, etwas echtes zu hacken. Das klingt
      schon cool, in den Geschichten, so etwas verrücktes zu machen. Aber ich
      hätte nicht so viel Lust, etwas kaputt zu machen oder so.
    </p>

    <p>
      Plötzlich wechselt das Licht in bunte Farben. Kiwi und Josh sind
      überrascht: Wow, was passiert hier heute?
    </p>

    <p>
      Wenige Minuten später erhält Kiwi über ihr COMLINK eine Nachricht: Sie
      soll bitte SOFORT in das Büro der Bordpolizei kommen. Sie schaut Josh kurz
      an und sagt nur: heilige Scheiße
    </p>
    <br />
  </div>
  <form action="/story/4/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
