<div style="text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      <em
        >Eine Woche später, nach dem Abendessen, Kiwi und Josh in der Lounge</em
      >
    </p>

    <p>
      <strong>Josh:</strong> Ich hab ein richtig tolles Buch gelesen, das musst
      du sehen!<br />
      <strong>Kiwi:</strong> Ein richtiges Buch? Mit Papier und so?<br />
      <strong>Josh:</strong> Haha, nein, nein. Es ist ein Holo-Buch aus der
      Bord-Bibliothek, es heißt “Enough”. Könnte dir gefallen.<br />
      <strong>Kiwi:</strong> Wie kommst du drauf?<br />
      <strong>Josh:</strong> Es geht um ein Wesen einer großen, unbekannten
      Welt, das viel herumreist und am Ende ein Zuhause findet – eine solche
      Geschichte müsste dir doch..
    </p>

    <p>
      <em
        >Plötzlich erlischt das Licht. Dunkelheit. Wenige Sekunden später wird
        es wieder hell, nicht im üblichen Weiß, sondern in den Farben der
        Regenbogenflagge</em
      >
    </p>

    <p>
      <strong>Josh:</strong> … wow!<br />
      <strong>Kiwi:</strong> Wie wunderschön! Ich vermisse es so sehr, meine
      Flagge zeigen zu können.<br />
      <strong>Josh:</strong> … geht mir genauso …<br />
      <strong>Kiwi:</strong> Bex würde ausflippen bei dem Anblick!<br />
    </p>

    <p>
      <em
        >Beide genießen den bunten Schein, bis die Beleuchtung nach ein paar
        Minuten wieder zurückwechselt, als wäre nichts geschehen.</em
      >
    </p>

    <p>
      <strong>Kiwi:</strong> Danke, Josh, für den Buch-Tipp. Jetzt habe ich
      plötzlich voll Lust, zu lesen.
    </p>
  </div>
  <form action="/story/4/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
