<div id="scene-4" class="scene-root">
  <div class="scene-content">
    <p class="fade-in">
      <em>Eine Woche später, nach dem Abendessen, Kiwi und Josh in der Lounge</em>
    </p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Josh:</strong> Ich hab ein richtig tolles Buch gelesen, das musst du sehen!</span><br />
      <span class="line-fade-in"><strong>Kiwi:</strong> Ein richtiges Buch? Mit Papier und so?</span><br />
      <span class="line-fade-in"><strong>Josh:</strong> Haha, nein, nein. Es ist ein Holo-Buch aus der Bord-Bibliothek, es heißt “Enough”. Könnte dir gefallen.</span><br />
      <span class="line-fade-in"><strong>Kiwi:</strong> Wie kommst du drauf?</span><br />
      <span class="line-fade-in"><strong>Josh:</strong> Es geht um ein Wesen einer großen, unbekannten Welt, das viel herumreist und am Ende ein Zuhause findet – eine solche Geschichte müsste dir doch..</span>
    </p>

    <p class="fade-in">
      <em>Plötzlich erlischt das Licht. Dunkelheit. Wenige Sekunden später wird es wieder hell, nicht im üblichen Weiß, sondern in den Farben der Regenbogenflagge</em>
    </p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Josh:</strong> … wow!</span><br />
      <span class="line-fade-in"><strong>Kiwi:</strong> Wie wunderschön! Ich vermisse es so sehr, meine Flagge zeigen zu können.</span><br />
      <span class="line-fade-in"><strong>Josh:</strong> … geht mir genauso …</span><br />
      <span class="line-fade-in"><strong>Kiwi:</strong> Bex würde ausflippen bei dem Anblick!</span>
    </p>

    <p class="fade-in">
      <em>Beide genießen den bunten Schein, bis die Beleuchtung nach ein paar Minuten wieder zurückwechselt, als wäre nichts geschehen.</em>
    </p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Kiwi:</strong> Danke, Josh, für den Buch-Tipp. Jetzt habe ich plötzlich voll Lust, zu lesen.</span>
    </p>
  </div>
  <form id="scene-4-continue" class="continue" action="/story/4/complete" method="post" aria-hidden="true">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>