<div id="scene-4" class="scene-root">
  <div class="scene-content">
    <p class="fade-in">
      <em>One week later, after dinner, Kiwi and Josh in the lounge</em>
    </p>

    <p class="fade-in">
      <span class="line-fade-in"
        ><strong>Josh:</strong> I read a really great book; you have to see
        it!</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi:</strong> A real book? With paper and stuff?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Josh:</strong> Haha, no, no. It's a holo-book from the ship
        library; it's called “Enough”. You might like it.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi:</strong> Why do you think so?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Josh:</strong> It's about a being from a big, unknown world
        that travels a lot and finally finds a home — that kind of story
        should...</span
      >
    </p>

    <p class="fade-in">
      <em
        >Suddenly the light goes out. Darkness. A few seconds later it turns
        back on — not the usual white, but in the colors of the rainbow
        flag.</em
      >
    </p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Josh:</strong> … wow!</span><br />
      <span class="line-fade-in"
        ><strong>Kiwi:</strong> How beautiful! I miss being able to show my flag
        so much.</span
      ><br />
      <span class="line-fade-in"><strong>Josh:</strong> … me too …</span><br />
      <span class="line-fade-in"
        ><strong>Kiwi:</strong> Bex would freak out at this sight!</span
      >
    </p>

    <p class="fade-in">
      <em
        >They enjoy the colorful glow until, after a few minutes, the lighting
        switches back as if nothing had happened.</em
      >
    </p>

    <p class="fade-in">
      <span class="line-fade-in"
        ><strong>Kiwi:</strong> Thanks, Josh, for the book tip. Now I suddenly
        really feel like reading.</span
      >
    </p>
  </div>
  <form
    id="scene-4-continue"
    class="continue"
    action="/story/4/complete"
    method="post"
    aria-hidden="true"
  >
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>
