<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      Kiwi sieht Bex, es wird erklärt: Bex hat sich unerlaubt Zugriff zum System
      verschafft. Natürlich sind die Computer alle biometrisch überwacht, als ob
      sich Bex das nicht denken konnte.
    </p>

    <p>
      Als Strafe muss Bex einen Armband tragen, dass Elektroschocks verteilen
      kann. Änderungen am Bordcomputer sind gefährlich! Bex ist sichtlich
      geknickt.
    </p>

    <p>
      Als Kiwi und Bex alleine sind, sagt Bex nur: "Was für eine Scheiße" und
      mit Tränen in den Augen läuft Bex davon
    </p>

    <p>2 Wochen später</p>

    <p>
      Kiwi: Hey Josh, was soll ich machen? Der Vorfall ist schon zwei Wochen
      her. Aber Bex redet immer noch nicht mit mir.
    </p>
    <p>
      Josh: Du musst den ersten Schritt gehen, das packst du. Und Bex löst immer
      noch die Rätsel nicht? Das ist doch ein gutes Zeichen. Bex vertraut dir,
      aber du musst schon den ersten Schritt gehen.
    </p>
  </div>
  <form action="/story/5/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
