<div style="text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      <em
        >Die Gruppe sitzt beim Frühstück, als ein Gong ertönt und eine Durchsage
        durch das Raumschiff schallt</em
      >
    </p>

    <blockquote>
      „Gestern Abend wurde die Beleuchtung manipuliert und ein verbotenes Symbol
      dargestellt. Das ist ein grober Verstoß gegen die Bord-Regeln. Hinweise,
      die zur Ergreifung der verursachenden Person führen, werden mit 100.000
      Credits belohnt. Wir bedanken uns für Ihre Mithilfe.“
    </blockquote>

    <p>
      <strong>Josh</strong>: Ach, sollen sie sich mal nicht so. Ich bin mir
      sicher, dass keine Bord-Regel sowas verbietet!<br />
      <strong>Kiwi</strong>: Warte mal. Bex, wo warst du eigentlich gestern, als
      das passiert ist? Ich hab dich nach dem Abendessen nicht mehr gesehen.<br />
      <strong>Bex</strong>: (nimmt einen übertrieben großen Bissen Toast) Hm,
      ist gestern Abend was passiert? Davon hab ich nichts mitbekommen, war in
      meinem Pod …<br />
      <strong>Kiwi</strong>: (schmunzelt) Diesen Gesichtsausdruck kenne ich gut
      genug. Das bedeutet nie was Gutes.<br />
      <strong>Bex</strong>: Psssst. Du hast ja gehört, der grobe Verstoß wird
      sicherlich auch hart bestraft. Wir sollten es vermeiden, dass jemand in so
      eine Situation kommt. Wäre ganz schlimm.
    </p>

    <p><em>Bex schaut kurz auf die Uhr und springt auf.</em></p>

    <p>
      <strong>Bex</strong>: Oh, ich muss los. Hab gestern einen Jungen
      kennengelernt und ich bringe ihm gerade Holo-Schach bei. Ist ein guter
      Schüler, kann ich nicht warten lassen. Bye!
    </p>

    <p><em>Und schon sprintet Bex los.</em></p>

    <p>
      <strong>Kiwi</strong>: Denkst du, Bex war das gestern?<br />
      <strong>Josh</strong>: Bei der Reaktion? Ziemlich sicher. Hut ab, Bex hat
      echt Mut. Und Herz. Eine wunderbare Mischung.
    </p>
  </div>
  <form action="/story/5/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
