<div id="scene-5" class="scene-root">
  <div class="scene-content">
    <p class="fade-in">
      <em>The group is having breakfast when a gong sounds and an announcement echoes through the ship</em>
    </p>

    <p class="fade-in">
      <span class="line-fade-in">“Yesterday evening the lighting was manipulated and a prohibited symbol was displayed. This is a serious violation of the onboard rules. Information leading to the apprehension of the responsible person will be rewarded with 100,000 credits. Thank you for your cooperation.”</span>
    </p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Josh</strong>: Oh, they shouldn't be so uptight. I'm sure no onboard rule forbids that!</span><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: Wait a second. Bex, where were you yesterday when it happened? I didn't see you after dinner.</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: (takes an exaggeratedly big bite of toast) Hm, did something happen last night? I didn't notice anything, I was in my pod …</span><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: (smiles) I know that facial expression all too well. It never means anything good.</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Psssst. You heard them — the serious violation will surely be punished hard. We should avoid anyone ending up in that situation. That would be terrible.</span>
    </p>

    <p class="fade-in"><em>Bex glances at the time and jumps up.</em></p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Bex</strong>: Oh, I have to go. I met a boy yesterday and I'm teaching him holo-chess. He's a good student; I shouldn't keep him waiting. Bye!</span>
    </p>
  </div>
  <form id="scene-5-continue" class="continue" action="/story/5/complete" method="post" aria-hidden="true">
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>