<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>Kiwi: Hey Bex</p>
    <p>Bex: hmm...</p>
    <p>Kiwi: Vermisst du Naxion? Du warts ja ein halbes Jahr auf der Schule.</p>
    <p>Bex: Oh damn, NEIN, die Schule war schrecklich.</p>
    <p>Kiwi: Hast du nicht immer erzählt, dass es gut läuft?</p>
    <p>
      Bex: Ich wollte dir nicht alles erzählen. Du hast dir doch so viel Mühe
      gegeben, mir eine Ort zu geben. Aber es war nicht gut. Die Leute haben
      mich ausgelacht, weil ich so anders bin.
    </p>
    <p>
      Kiwi: Die Leute auf Naxion können brutal sein, immerhin sind wir da weg.
      Bitte versprich mir, dass du mit mir redest, ok?
    </p>
    <p>Bex: Was verstehst du schon?</p>
    <p>Kiwi: Wie meinst du?</p>
    <p>
      Bex: Immer diese scheiße, über [WO BEREITE ich eigentlich das Trans-Thema
      vor?]
    </p>
    <p>
      Kiwi: Hast du eigentlich das Einreisedokument fertig ausgefüllt für
      Sirtach? In zwei Wochen sollen wir das abgeben.
    </p>
    <p>Bex: hmm...</p>
    <p>Kiwi: Du möchtest mir was sagen?</p>
    <p>Bex: Muss ich eigentlich was ankreuzen? Bei Geschlecht?</p>
    <p>
      Kiwi: Das stört dich? [OH GOTT, das ist sehr wild durcheinander und roh]
    </p>
  </div>
  <form action="/story/6/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
