<div style="text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      <em
        >Kiwi und Bex besuchen Josh auf der Krankenstation. Am Tag davor hatte
        er einen Ohnmachts-Anfall und sich dabei eine Beule am Kopf zugezogen.
        Mittlerweile ist er fit, die Ärzte wollen ihn aber noch weiter
        beobachten.</em
      >
    </p>

    <p>
      <strong>Josh</strong>: Sowas passiert schon mal, wenn man älter wird.<br />
      <strong>Bex</strong>: Stimmt nicht ganz! Als ich aus dem Kryoschlaf geholt
      wurde, bin ich danach auch paar Mal ohnmächtig geworden. Damit haben wir
      ja was gemeinsam, haha.<br />
      <strong>Kiwi</strong>: Ich bin froh, dass nichts Schlimmeres passiert ist.
      Dein Kopf ist zum Glück nur gegen den Schreibtisch geprallt und nicht
      gegen den Boden.<br />
      <strong>Josh</strong>: Ich dachte wirklich kurz, dass war’s mit mir. Aber
      so dramatisch wars dann zum Glück nicht …
    </p>

    <p><em>Er hält kurz inne und schaut dann besorgt auf Kiwi und Bex.</em></p>

    <p>
      <strong>Kiwi</strong>: Was ist, Josh? Ist noch das passiert?<br />
      <strong>Josh</strong>: Ihr wisst es noch nicht, oder? Als ich ohnmächtig
      wurde, habe ich gerade eine Nachricht aus Sirtach gelesen.<br />
      <strong>Bex</strong>: Jetzt sag schon!<br />
      <strong>Josh</strong>: Das Regenbogenverbot. Es soll bald auch in Sirtach
      gelten.<br />
      <strong>Kiwi</strong>: Was!? … das ist … das … ich … (Tränen kommen ihr in
      die Augen)<br />
      <strong>Bex</strong>: Das Verbot, vor dem wir geflohen sind, holt uns
      wieder ein!? Was für eine verdammte Scheiße!<br />
      <strong>Josh</strong>: Ich … wisst ihr was, ich bin dankbar, dass wir
      zusammen reisen. Ohne euch hätte ich schon längst aufgegeben. Aber jetzt
      denke ich mir: das werden wir schaffen. Wir werden einen Weg finden.
      Vielleicht nicht heute oder morgen, aber es wird einen Weg geben, solange
      wir weiterhacken und weiterkämpfen.
    </p>
  </div>
  <form action="/story/6/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
