<div id="scene-6" class="scene-root">
  <div class="scene-content">
    <p class="fade-in">
      <em>Kiwi and Bex visit Josh in the infirmary. The day before he fainted and got a bump on his head. He's fine now, but the doctors want to keep observing him.</em>
    </p>
    <p class="fade-in">
      <span class="line-fade-in"><strong>Josh</strong>: That kind of thing happens sometimes when you're older.</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Not entirely true! When I was woken up from cryosleep, I fainted a few times afterwards too. So we’ve got something in common, haha.</span><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: I'm glad nothing worse happened. Luckily your head hit the desk and not the floor.</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: For a moment I really thought that was it for me. But thankfully it wasn’t that dramatic …</span>
    </p>

    <p class="fade-in"><em>He pauses briefly, then looks worriedly at Kiwi and Bex.</em></p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Kiwi</strong>: What's wrong, Josh? Did something else happen?</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: You don't know yet, do you? When I fainted, I was reading a message from Sirtach.</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Out with it!</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: The rainbow ban. It's supposed to apply in Sirtach soon as well.</span><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: What!? … that's … I … (tears well up)</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: The ban we fled from is catching up with us!? What a damn shame!</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: I … you know what, I'm grateful that we're traveling together. Without you I would have given up long ago. But now I think: we'll make it. We'll find a way. Maybe not today or tomorrow, but there will be a way as long as we keep hacking and keep fighting.</span>
    </p>
  </div>
  <form id="scene-6-continue" class="continue" action="/story/6/complete" method="post" aria-hidden="true">
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>