<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      Abendessen mit Kiwi, Bex und Josh, Bex ist sehr ruhig. Ein paar Pläne über
      die Zeit in Sirtach, Wohnung, Schule, Arbeit, Geld.
    </p>

    <p>
      Josh: Uns fehlt noch das Formular von Bex für die Einreise, irgendein
      Problem?
    </p>
    <p>Kiwi: Kz, lass und später darüber reden.</p>

    <p>Nach dem Essen, Bex ist gegangen [Was macht Bex am Abend, alleine?]</p>

    <p>
      Kiwi: Es gibt ein kleines Problem. Bex ... möchte kein Geschlecht angeben.
      Keine Ahnung, was ich tun soll. Aber ich hab mir das Formular angeschaut,
      und ohne eine Auswahl kann ich das definitiv nicht abschicken.
    </p>
    <p>Josh: Hm... weißt du was? Lasst uns das Formular hacken?</p>

    <p>Kiwi: spinnst du?</p>
    <p>
      Josh: Kiwi, das ist ein blödes Formular, das schaut sich doch niemand an,
      die haben unsere Daten doch eh im zentralen Register. Wenn es für Bex
      wichtig ist, dann lasst uns doch nicht von Technik aufhalten. Wir haben
      doch nicht umsonst das Hacken gelernt.
    </p>
  </div>
  <form action="/story/7/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
