<div style="text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p><em>Zwei Wochen vor der Ankunft in Sirtach</em></p>

    <p>
      <strong>Bex</strong>: Was ist das für ein bescheuertes Formular?<br />
      <strong>Kiwi</strong>: Ich bin auch kein Fan. Aber es ist eine neue
      Regelung, ohne das Formular keine Einreise.<br />
      <strong>Bex</strong>: Ich verstehe schon, aber das meinte ich gar nicht.
      Ich meine dieses Feld auf der ersten Seite.<br />
      <strong>Kiwi</strong>: Was ist damit … uff.<br />
      <strong>Bex</strong>: Ja, uff! Ich dachte, diese Zeiten hätten wir längst
      hinter uns. Warum kann ich bei Geschlecht nur zwischen männlich und
      weiblich wählen? Und dann noch als Pflichtfeld! Ich komme nicht mal weiter
      zur zweiten Seite.<br />
      <strong>Josh</strong>: Es sind mehr Steine, die uns in den Weg gelegt
      werden …<br />
      <strong>Bex</strong>: Es reicht mir! Ich trage da nichts ein. Jetzt schon
      einfach aus Prinzip. Zur Not hacke ich das Formular. Sollen sie mich mal
      ***<br />
      <strong>Josh</strong>: Hey, ich kann deinen Frust verstehen, aber dafür
      musst du jetzt nicht so fluchen …<br />
      <strong>[NAME]</strong>: Ich kann Bex auch gut verstehen. Ich bin
      neugierig, Bex: Wie würdest du das denn Hacken wollen?<br />
      <strong>Bex</strong>: Weißt du was, ich hab eine geniale Idee: Lasst uns
      das Formular gemeinsam hacken, hier und jetzt. Bist du dabei?
    </p>
  </div>
  <form action="/story/7/complete" method="post">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>
