<div id="scene-7" class="scene-root">
  <div class="scene-content">
    <p class="fade-in"><em>Zwei Wochen vor der Ankunft in Sirtach</em></p>

    <p class="fade-in">
      <span class="line-fade-in"><strong>Bex</strong>: Was ist das für ein bescheuertes Formular?</span><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: Ich bin auch kein Fan. Aber es ist eine neue Regelung, ohne das Formular keine Einreise.</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Ich verstehe schon, aber das meinte ich gar nicht. Ich meine dieses Feld auf der ersten Seite.</span><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: Was ist damit … uff.</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Ja, uff! Ich dachte, diese Zeiten hätten wir längst hinter uns. Warum kann ich bei Geschlecht nur zwischen männlich und weiblich wählen? Und dann noch als Pflichtfeld! Ich komme nicht mal weiter zur zweiten Seite.</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: Es sind mehr Steine, die uns in den Weg gelegt werden …</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Es reicht mir! Ich trage da nichts ein. Jetzt schon einfach aus Prinzip. Zur Not hacke ich das Formular. Sollen sie mich mal ***</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: Hey, ich kann deinen Frust verstehen, aber dafür musst du jetzt nicht so fluchen …</span><br />
      <span class="line-fade-in"><strong>[NAME]</strong>: Ich kann Bex auch gut verstehen. Ich bin neugierig, Bex: Wie würdest du das denn Hacken wollen?</span><br />
      <span class="line-fade-in"><strong>Bex</strong>: Weißt du was, ich hab eine geniale Idee: Lasst uns das Formular gemeinsam hacken, hier und jetzt. Bist du dabei?</span>
    </p>
  </div>
  <form id="scene-7-continue" class="continue" action="/story/7/complete" method="post" aria-hidden="true">
    <input type="submit" class="btn btn-interaction btn-sm" value="Weiter" />
  </form>
</div>