<div id="scene-7" class="scene-root">
  <div class="scene-content">
    <p class="fade-in"><em>Two weeks before arriving in Sirtach</em></p>

    <p class="fade-in">
      <span class="line-fade-in"
        ><strong>Bex</strong>: What kind of stupid form is this?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi</strong>: I'm not a fan either. But it's a new
        regulation—no entry without the form.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: I get that, but that's not what I meant. I mean
        this field on the first page.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi</strong>: What's with it … uff.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: Yeah, uff! I thought we'd left those times
        behind. Why can I choose only male or female for gender? And then as a
        mandatory field! I can't even get to the second page.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Josh</strong>: More stones being put in our way …</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: I'm done! I'm not entering anything there. Just
        on principle already. If needed, I'll hack the form. Let them …</span
      ><br />
      <span class="line-fade-in"
        ><strong>Josh</strong>: Hey, I understand your frustration, but you
        don't have to curse like that …</span
      ><br />
      <span class="line-fade-in"
        ><strong><strong><%= username %></strong></strong
        >: I can understand Bex too. I'm curious, Bex: How would you hack
        it?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: You know what, I've got a brilliant idea: Let's
        hack the form together, here and now. Are you in?</span
      >
    </p>
  </div>
  <form
    id="scene-7-continue"
    class="continue"
    action="/story/7/complete"
    method="post"
    aria-hidden="true"
  >
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>
