<div style="padding-top: 20vh; text-align: center">
  <div
    style="
      max-width: 65ch;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    "
  >
    <p>
      Nach der Ankunft, lasst uns doch gemeinsam weiter in Kontakt bleiben, was
      könnten wir denn machen? Wie wäre es, eine Website gemeinsam zu bauen.
    </p>

    <p>Wie könnte man sie nennen? Hack The Web? Klingt doch ganz nett.</p>
  </div>
  <form action="/story/8/complete" method="post">
    <input
      type="submit"
      class="btn btn-primary btn-sm"
      value="Szene schließen"
    />
  </form>
</div>
