<div id="scene-8" class="scene-root">
  <div class="scene-content">
    <p class="fade-in">
      <em
        >At the spaceship terminal the group gathers one last time on this
        journey</em
      >
    </p>
    <p class="fade-in">
      <span class="line-fade-in"
        ><strong>Kiwi</strong>: I guess this is the moment to say goodbye.
        <strong><strong><%= username %></strong></strong
        >, it was wonderful traveling with you and being your mentor! You
        learned well.</span
      ><br />
      <span class="line-fade-in"><strong>Josh</strong>: It was an honor.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: Same! But maybe this doesn't have to be the end.
        Kiwi, do you remember my suggestion?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi</strong>: Umm, which one exactly?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: When you taught me hacking back then! I said we
        could …</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi</strong>: … build a website, haha. Yes, now I
        remember.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: You're always so shy about things like that. The
        challenges are great; lots of people will enjoy them. Let's build a
        website and put it online.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Josh</strong>: I like that idea. There will surely be people
        curious about hacking—what it looks like. And it will be good for us to
        build something that belongs to US, where we can set the rules.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Kiwi</strong>: … do you think that will work?</span
      ><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: I don't know! 🙃 But if we don't try, we'll never
        find out. Let's just do it. I'm happy to set up the server.</span
      ><br />
      <span class="line-fade-in"
        ><strong>Josh</strong>: I'm in too. So, what do you say, Kiwi?</span
      ><br />
      <span class="line-fade-in"><strong>Kiwi</strong>: Together?</span><br />
      <span class="line-fade-in"><strong>Josh</strong>: Together!</span><br />
      <span class="line-fade-in"
        ><strong>Bex</strong>: Let's hack. And we've already got a first test
        person 😋</span
      >
    </p>
  </div>
  <form
    id="scene-8-continue"
    class="continue"
    action="/story/8/complete"
    method="post"
    aria-hidden="true"
  >
    <input type="submit" class="btn btn-interaction btn-sm" value="Continue" />
  </form>
</div>
