<p>Der Name eines berühmten Codeknackers ist gesucht. Die Antwort findest du im Quellcode des Servers, direkt unter diesem Text.</p>

<p>Glücklicherweise ist der komplette Quellcode von Hack The Web öffentlich zugänglich. In <a target="_blank" href="https://github.com/Entkenntnis/htw/tree/main/src/content/views">diesem Ordner</a> findest du die entscheidende Datei namens <code>codeknacker.ejs</code>. Viel Erfolg bei der Suche!</p>

<% /*

𝔻𝕚𝕖 ℙ𝕖𝕣𝕤𝕠𝕟 𝕙𝕖𝕚ß𝕥 𝕋𝕦𝕣𝕚𝕟𝕘.

*/ %>