<style>
  .decryption-key-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .ciphertext-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .letter {
    height: 70px;
    min-width: 5px;
    display: flex;
    flex-direction: column;
  }
  .ciphertext {
    color: gray;
  }
</style>

<div class="decryption-key-container">
  TODO: Decryption Key
</div>

<div class="ciphertext-container"></div>

<script>
  const inputText = '"Das ist Cvzhy", saktp Gxwiar. Gxwiar opclvk dpr Jxrd lx pirpj szqipepr Wäzqpwr. Yadcipw saq lmiszqpr Gxwiar xrd dpj Evtv qir xrd qpc. "Sip ist qüuszq", saktp pc, vqrp kprax lx misspr, macxj. Pc opcwakpctp das Kpmizqt. "Ist sip dpirp Ecpxrdir?", ecaktp pc xrd opcsxzqtp, ps upiwäxeik hwirkpr lx wasspr. Gxwiar szqraxutp. "Rpir." Pc wpqrtp sizq lxcüzh xrd stütlp sizq axe dip Pwwuvkpr. "Izq qaus rizqt sv jit Ecpxrdirrpr." Yadcipw opcdcpqtp dip Axkpr xrd wazqtp snöttiszq. "Mip? Mpiw dx pir Jxgpcipkv uist vdpc mas? Qast dx lx oipwp Opcpqcpcirrpr, xj dizq axe rxc Pirp pirlxwasspr?", ecaktp pc wpizqt opcäckpct. "Rpir", ucxjjtp Gxwiar, dpr Uwizh ijjpc rvzq axe das Gaqcuxzq kpcizqtpt. "Mpiw izq szqmxw uir, dx Acszqwvzq." Yadcipw uwirlpwtp. Dajit ... qattp pc rizqt kpcpzqrpt. Pc stacctp Gxwiar ar.'

  const cipherTextContainer = document.querySelector('.ciphertext-container')

  const chars = []

  inputText.split('').forEach(char => {
    const div = document.createElement('div')
    div.innerHTML = `<div class="letter font-monospace"><span class="ciphertext">${char}</span><span class="plaintext">${char}</span></div>`
    chars.push(div)
    cipherTextContainer.appendChild(div)
  })

  const ALPHABET = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

  
</script>