<p>
  Also das ist die neue Version, es geht um eine Schaltung und es geht darum,
  diese Schaltung korrekt umzuschalten. Es ist noch eine offene Aufgabe, die
  Schaltung zu bauen.
</p>

<script>
  const blocks = [
    { x: 6, y: 1, z: 0, type: 'block' },
    // AND gate
    { x: 6, y: 2, z: 0, type: 'dust' },
    { x: 6, y: 3, z: 0, type: 'torch' },
    { x: 5, y: 4, z: 0, type: 'block' },
    { x: 6, y: 4, z: 0, type: 'block' },
    { x: 7, y: 4, z: 0, type: 'block' },
    { x: 5, y: 4, z: 1, type: 'torch' },
    { x: 6, y: 4, z: 1, type: 'dust' },
    { x: 7, y: 4, z: 1, type: 'torch' },
    // -- NOT gate
    { x: 4, y: 4, z: 0, type: 'dust' },
    { x: 3, y: 4, z: 0, type: 'dust' },
    { x: 2, y: 4, z: 0, type: 'dust' },
    { x: 2, y: 5, z: 0, type: 'dust' },
    { x: 2, y: 6, z: 0, type: 'torch' },
    { x: 2, y: 7, z: 0, type: 'block' },
    // -- -- OR + 2x NOT + 3x lever
    { x: 2, y: 8, z: 0, type: 'dust' },
    { x: 2, y: 9, z: 0, type: 'dust' },
    { x: 3, y: 9, z: 0, type: 'dust' },
    { x: 3, y: 10, z: 0, type: 'dust' },
    { x: 3, y: 11, z: 0, type: 'dust' },
    { x: 4, y: 10, z: 0, type: 'dust' },
    { x: 3, y: 12, z: 0, type: 'lever' },
    { x: 1, y: 9, z: 0, type: 'torch' },
    { x: 1, y: 10, z: 0, type: 'block' },
    { x: 1, y: 11, z: 0, type: 'dust' },
    { x: 1, y: 12, z: 0, type: 'lever' },
    { x: 5, y: 9, z: 0, type: 'torch' },
    { x: 5, y: 10, z: 0, type: 'block' },
    { x: 5, y: 11, z: 0, type: 'dust' },
    { x: 5, y: 12, z: 0, type: 'lever' },
    // -- AND gate
    { x: 8, y: 1, z: 0, type: 'dust' },
    { x: 9, y: 1, z: 0, type: 'torch' },
    { x: 10, y: 3, z: 0, type: 'block' },
    { x: 10, y: 4, z: 0, type: 'block' },
    { x: 10, y: 5, z: 0, type: 'block' },
    { x: 10, y: 3, z: 1, type: 'torch' },
    { x: 10, y: 4, z: 1, type: 'dust' },
    { x: 10, y: 5, z: 1, type: 'torch' },
    // -- -- AND gate + 2x lever
    { x: 10, y: 6, z: 0, type: 'dust' },
    { x: 10, y: 7, z: 0, type: 'dust' },
    { x: 9, y: 7, z: 0, type: 'dust' },
    { x: 8, y: 7, z: 0, type: 'dust' },
    { x: 8, y: 8, z: 0, type: 'torch' },
    { x: 7, y: 9, z: 0, type: 'block' },
    { x: 8, y: 9, z: 0, type: 'block' },
    { x: 9, y: 9, z: 0, type: 'block' },
    { x: 7, y: 9, z: 1, type: 'torch' },
    { x: 8, y: 9, z: 1, type: 'dust' },
    { x: 9, y: 9, z: 1, type: 'torch' },
    { x: 7, y: 10, z: 0, type: 'dust' },
    { x: 7, y: 11, z: 0, type: 'dust' },
    { x: 7, y: 12, z: 0, type: 'lever' },
    { x: 9, y: 10, z: 0, type: 'dust' },
    { x: 9, y: 11, z: 0, type: 'dust' },
    { x: 9, y: 12, z: 0, type: 'lever' },
    // -- -- NOT
    { x: 11, y: 3, z: 0, type: 'dust' },
    { x: 12, y: 3, z: 0, type: 'dust' },
    { x: 13, y: 3, z: 0, type: 'dust' },
    { x: 13, y: 4, z: 0, type: 'dust' },
    { x: 13, y: 5, z: 0, type: 'dust' },
    { x: 13, y: 6, z: 0, type: 'torch' },
    { x: 13, y: 7, z: 0, type: 'block' },
    // -- -- -- OR + NOT + 2x lever
    { x: 13, y: 8, z: 0, type: 'dust' },
    { x: 12, y: 8, z: 0, type: 'dust' },
    { x: 12, y: 9, z: 0, type: 'dust' },
    { x: 11, y: 9, z: 0, type: 'dust' },
    { x: 11, y: 10, z: 0, type: 'dust' },
    { x: 11, y: 11, z: 0, type: 'dust' },
    { x: 11, y: 12, z: 0, type: 'lever' },
    { x: 13, y: 9, z: 0, type: 'torch' },
    { x: 13, y: 10, z: 0, type: 'block' },
    { x: 13, y: 11, z: 0, type: 'dust' },
    { x: 13, y: 12, z: 0, type: 'lever' },
  ]
</script>
