<p>Die Antwort zu dieser Aufgabe ist auf dem Server gespeichert, aber du findest sie nicht auf dieser Seite. Stattdessen darfst du einen Blick in den Quellcode vom Hack The Web werfen!</p>

<p>Der gesamte Code dieser Webseite kann online angeschaut werden. Die Datei zu dieser Aufgabe findest sich in <a target="_blank" href="https://github.com/Entkenntnis/htw/tree/main/src/content/views">diesem Ordner</a> unter dem Namen <code>quellcode.ejs</code>.</p>

<% /*

 ___    ____    ___       ____  ____   ______  __    __   ___   ____  ______      _       ____  __ __  ______    ___  ______      ______  __ __  ____   ____  ____    ____     
|   \  l    j  /  _]     /    T|    \ |      T|  T__T  T /   \ |    \|      T    | T     /    T|  T  T|      T  /  _]|      T    |      T|  T  T|    \ l    j|    \  /    T    
|    \  |  T  /  [_     Y  o  ||  _  Y|      ||  |  |  |Y     Y|  D  )      |    | |    Y  o  ||  |  ||      | /  [_ |      |    |      ||  |  ||  D  ) |  T |  _  YY   __j    
|  D  Y |  | Y    _]    |     ||  |  |l_j  l_j|  |  |  ||  O  ||    /l_j  l_j    | l___ |     ||  |  |l_j  l_jY    _]l_j  l_j    l_j  l_j|  |  ||    /  |  | |  |  ||  T  |    
|     | |  | |   [_     |  _  ||  |  |  |  |  l  `  '  !|     ||    \  |  |      |     T|  _  ||  :  |  |  |  |   [_   |  |        |  |  |  :  ||    \  |  | |  |  ||  l_ | __ 
|     | j  l |     T    |  |  ||  |  |  |  |   \      / l     !|  .  Y |  |      |     ||  |  |l     |  |  |  |     T  |  |        |  |  l     ||  .  Y j  l |  |  ||     ||  T
l_____j|____jl_____j    l__j__jl__j__j  l__j    \_/\_/   \___/ l__j\_j l__j      l_____jl__j__j \__,_j  l__j  l_____j  l__j        l__j   \__,_jl__j\_j|____jl__j__jl___,_jl__j


*/ %>