<p>Your task is to find the name of a person who has a birthday on June 23rd. The name you're looking for is hidden in the server's source code.</p>

<p>Fortunately, the complete source code of Hack The Web is publicly available. In <a target="_blank" href="https://github.com/Entkenntnis/htw/tree/main/src/content/views">this folder</a> you'll find the relevant file named <code>source.ejs</code>. Good luck with your search!</p>

<% /*

ð•‹ð•™ð•– ð•Ÿð•’ð•žð•– ð• ð•— ð•¥ð•™ð•– ð•¡ð•–ð•£ð•¤ð• ð•Ÿ ð•šð•¤ ð•‹ð•¦ð•£ð•šð•Ÿð•˜.

*/ %>